<!DOCTYPE html>
  <html lang="en">

  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donuts</title>
  </head>
 
  <body>
  	        <nav>
        <div id="logo"><img src="https://i.pinimg.com/236x/82/70/94/827094e66237d17a7f1344f4b1cdd7a5.jpg" alt="logo"></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a routerLink="/home">Home</a></li>
                <li>

                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">About +</label>
                <a >About</a>
                <input type="checkbox" id="drop-2"/>
                <ul>
                    <li><a routerLink="/history">History of Donuts</a></li>
                
                    <li>
                       
                    <!-- Second Tier Drop Down -->        
                    <label for="drop-3" class="toggle">Unique donuts +</label>
                    <a routerLink="/unique">Unique Donuts</a>         
                    <input type="checkbox" id="drop-3"/>

                    <ul>
                        <li><a href="http://localhost:4200/unique#china">China</a></li>
                        <li><a href="http://localhost:4200/unique#india">India</a></li>
                        <li><a href="http://localhost:4200/unique#czech">Czech</a></li>
                        <li><a href="http://localhost:4200/unique#germany">Germany</a></li>
                        <li><a href="http://localhost:4200/unique#italy">Italy</a></li>
                        <li><a href="http://localhost:4200/unique#spain">Spain</a></li>
                    </ul>
                    </li>
                </ul>
                </li>
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/contact">Contact Info</a></li>
                <li><a routerLink="/recipes-search">Recipes</a></li>
                <li><a mat-raised-button (click)="logout()">Log-Out</a></li>
            </ul>
        </nav>
        <div style="margin-top:15%; margin-left: 10%;" class="div1">
            <h2 class="textanim">
                <span>
                <span class="span1">You  </span>
                <span class="span1">may  </span>
                <span class="span1">proceed  </span>
                <span class="span1">only  </span>
                <span class="span1">if  </span>
                <span class="span1">you  </span>
                <span class="span1">are  </span>
                <span class="span1">on  </span>
                <span class="span1">a  </span>
            </span>
        </h2>
        <h1 style="margin-top: 20px;letter-spacing: 10px;" class="diet"><span>d</span><span>onut</span>
        <span>i</span><span>n-love</span>
        <span>e</span><span>very</span>
        <span>t</span><span>ime</span></h1>
    </div>
</body>

  


        
