

<div class="container">
    
    <div class="form-section">
        <h1 style="font-size:50px; font-weight: bold;">Welcome to our donuttery</h1>
        <form [formGroup]="loginForm" class="form">
            <mat-form-field appearance="outline">
                <mat-label>
                    Username
                </mat-label>
                <input matInput placeholder="Username" formControlName="username" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    Password
                </mat-label>
                <input matInput placeholder="Password" formControlName="password" />
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="login()">
            LOGIN
        </button>

    </div>
    <div class="message-section">
        <p>
            Message
        </p>
    </div>
</div>
